
<div class="container">
    <h4 *ngIf= "invalidUser">invalid user!!</h4>
    <img src="assets/logo-ladera-1024x261.png" width="300px" alt="Example Image">
   
<div class="top"></div>
  <div class="bottom"></div>
<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
<div class="mainDiv card-body auth-card center">
    <div class="card auth">
        <div class="auth-card">
    <!-- <div class="auth-avatar">
        <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
      </div> -->
<table class="formTable">
    <tr>
        <td colspan="2"><h1 class="loginHeader">Login Page</h1></td>
    </tr>
    <tr>
        <td>
            <label for="name">Enter the Name</label>
        </td>
        <td>
            <input #usernameInput placeholder="name" id="name" name="name" type="text">
        </td>
        
    </tr>
    <br>
    <tr>
        <td>
            <label for="pass" id="pass1">Enter the Password</label>
        </td>
        <td>
            <input #passwordInput placeholder="Password" type="text" id="pass" name="pass">
        </td>
    </tr>
    <br>
    <tr>
        <td colspan="2" class="text-center">
        <button #loginButton class="submitButton btn-my text-center" type="submit">Login</button>
        </td>
    </tr>
    <br>
    <!-- <tr>
        <td>
            
        </td>
        <td>
            <button #registerButton class="registerButton" type="button">Register</button>
        </td>
    </tr> -->
</table>

</div>
</div>
</div>
</div>
</div>
</div>