body{
  
  background-color: brown;
}
  
/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
    /* CSS rules for small screens */
    .mainDiv {
        padding: 10px;
        display: none;
      }
  }
  
  /* Styles for screens between 600px and 900px */
  @media screen and (min-width: 600px) and (max-width: 900px) {
    /* CSS rules for medium screens */
  }
  
  /* Styles for screens larger than 900px */
  @media screen and (min-width: 900px) {
    /* CSS rules for large screens */
  }
  