@media screen and (max-width: 600px) {
  /* CSS rules for small screens */
  .orgImage{
    margin-left: 100px;
    display: block;
  }
  .form {
      padding: 10px;
      
      /* display: flex;
      justify-content: end; */
      
    }
    .organizationHeader{
      text-align: center;
    }
    .formTable{
      margin: 10px;
    }
    svg{
      /* display: none; */
    }
    .image{
      height:500px;
      width: 300px;
    }
    /* .vertical-line {
border-left: 1px solid black; Change color and thickness as needed */
/* height: 100px; Change height as needed */
/* } */
}

/* Styles for screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 800px) {
  /* CSS rules for medium screens */
  .orgImage{
    margin-left: 100px;
    display: block;
    align-content: end;
    align-items: center;
  }
  .organizationHeader{
      text-align: center;
    }
  .form{
    display: flex;
      align-items: center;
      justify-content: center;
      
  }
  .image{
    
    width: 400px;
  }
  
  .formTable{
      /* margin-left: 250px; */
      /* text-align: center; */
      /* align-items: center; */
      align-content: center;

    }
    .svgclass{
      /* display: flex; */
      /* align-content: center;
      justify-content: center;
      justify-self: center;
      justify-items: center; */
    }
    /* .image{
      width: 1000px;
      align-items: end; */
      /* justify-content: center; */
    /* } */
  hr {
      width: 600px;
  }
}

/* Styles for screens larger than 900px */
@media screen and (min-width: 800px) {
  /* CSS rules for large screens */
  .orgImage{
    display: flex;
    justify-content: center;
  }
  .organizationHeader{
      text-align: center;
    }
    .form{
      display: flex;
      align-items: center;
      justify-content: end;
      
  }
  
  .formTable{
      margin-top: 50px;
      padding: 10px;
      /* text-align: center; */

    }
  hr {
      width: 600px;
  }
}



.mainDiv{
  background-color: #d9e1e6;
}

input{
  width:100%;
    padding:10px;
    margin:0px;
    border-radius:7px;
    border:1px solid #ccc;
    font-family:inherit;
}
button{
  background-color: #00e6e6;
  border-color: #00ffff;
  color: #fff;
  border-top: #333;
  /* border-bottom: #333; */
  border-width: 8px;
  border-radius: 10px;
    text-align: center;
    /* padding: 5px;
    margin-left: 150px; */
    box-shadow: 5px 3px 5px;
}