<p>asset-creation works!</p>

<div>
    <div>
        <!-- <div  #stepper
        [steps]="steps"
        stepType="full"
        [(currentStep)]="currentStep"></div> -->
    </div>
    <div>
        <section *ngIf="currentStep===0">
            {{currentStep}}+1
        </section>
        <section *ngIf="currentStep===1">
            {{currentStep}}+1
        </section>
        <section *ngIf="currentStep===2">
            {{currentStep}}+1
        </section>
    </div>
    <div>
        <!-- <form [formGroup]="form" (ngSubmit)="submit()">
            <label for="name">Enter the Asset Name</label>
            <input type="text" formControllName="assetName">
        </form> -->
    </div>
</div>


<div class="example">
    <kendo-stepper
      #stepper
      [steps]="steps"
      stepType="full"
      [(currentStep)]="currentStep"
    >
    </kendo-stepper>
    <form class="k-form k-form-md" [formGroup]="form">
      <!-- <account-details
        *ngIf="currentStep === 0"
        [accountDetails]="currentGroup"
      >
      </account-details>

      <personal-details
        *ngIf="currentStep === 1"
        [personalDetails]="currentGroup"
      >
      </personal-details>

      <payment-details
        *ngIf="currentStep === 2"
        [paymentDetails]="currentGroup"
      >
      </payment-details> -->
      
      <div class="formdiv" *ngIf="currentStep === 0">
        <ng-container  [formGroup]="basicDetails">
          <div >
            <kendo-formfield>
              <kendo-label [for]="assetCode" text="Asset Code"></kendo-label>
              <kendo-textbox
                formControlName="assetCode"
                #assetCode
                [clearButton]="true"
              ></kendo-textbox>
              <kendo-formerror>Asset Code is required</kendo-formerror>
            </kendo-formfield>
            <kendo-formfield>
              <kendo-label [for]="assetName" showHints="initial" text="Asset Name"></kendo-label>
              <kendo-textbox
                formControlName="assetName"
                #assetName
                [clearButton]="true"
              ></kendo-textbox>
              <kendo-formerror>Asset Name is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="usedBy" text="Asset used By"></kendo-label>
              <kendo-textbox
                formControlName="usedBy"
                #usedBy
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="baseLocation" text="Asset base Location"></kendo-label>
              <kendo-textbox
                formControlName="baseLocation"
                #baseLocation
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="remark" text="Asset remark"></kendo-label>
              <kendo-textbox
                formControlName="remark"
                #remark
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="serialNumber" text="Asset serialNumber"></kendo-label>
              <kendo-textbox
                formControlName="serialNumber"
                #serialNumber
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
            <div class="col-xs-12 col-sm-6 example-col">
              <kendo-label text="status">
                <br />
                <kendo-combobox formControlName="status" #status [data]="listItems" >
                </kendo-combobox>
              </kendo-label>
            </div>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>
          </div>
          <div >
            
            <kendo-formfield>
              <div class="col-xs-12 col-sm-6 example-col">
                <kendo-label text="Oerational Status">
                  <br />
                  <kendo-combobox formControlName="operationalStatus" #operationalStatus [data]="listOperation">
                  </kendo-combobox>
                </kendo-label>
              </div>
                <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
              </kendo-formfield>

              <kendo-formfield>
                <div class="col-xs-12 col-sm-6 example-col">
                  <kendo-label text="Category">
                    <br />
                    <kendo-combobox formControlName="category" #category [data]="listAsset" value="Fixed Asset">
                    </kendo-combobox>
                  </kendo-label>
                </div>
                  <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
                </kendo-formfield>

                <kendo-formfield>
                  <div class="col-xs-12 col-sm-6 example-col">
                    <kendo-label text="Asset Type">
                      <br />
                      <kendo-combobox formControlName="assetType" #assetType [data]="listType">
                      </kendo-combobox>
                    </kendo-label>
                  </div>
                    <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
                  </kendo-formfield>

                  <kendo-formfield>
                    <kendo-label [for]="cost" text="Asset cost"></kendo-label>
                    <kendo-textbox
                      formControlName="cost"
                      #cost
                      [clearButton]="true"
                    ></kendo-textbox>
                    <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
                  </kendo-formfield>

                  <kendo-formfield>
                    <kendo-label [for]="brand" text="Asset brand"></kendo-label>
                    <kendo-textbox
                      formControlName="brand"
                      #brand
                      [clearButton]="true"
                    ></kendo-textbox>
                    <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
                  </kendo-formfield>

                  <kendo-formfield>
                    <kendo-label [for]="modelNumber" text="Asset model Number"></kendo-label>
                    <kendo-textbox
                      formControlName="modelNumber"
                      #modelNumber
                      [clearButton]="true"
                    ></kendo-textbox>
                    <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
                  </kendo-formfield>
          </div>
          

      
            <!-- <kendo-formfield showHints="initial" showErrors="initial">
              <kendo-label [for]="country" text="Country"></kendo-label>
              <kendo-autocomplete
                #country
                [data]="countries"
                formControlName="country"
              >
              </kendo-autocomplete>
      
              <kendo-formhint>Only Eroupean countries</kendo-formhint>
              <kendo-formerror
                *ngIf="!personalDetails.controls.country.errors?.required"
                >Country is required</kendo-formerror
              >
            </kendo-formfield> -->
      
            
          </ng-container>
      
      </div>
      <div *ngIf="currentStep === 1">
        <ng-container  [formGroup]="assetDetails">
          <div >
            <kendo-formfield>
              <kendo-label [for]="color" text="Asset color"></kendo-label>
              <kendo-textbox
                formControlName="color"
                #color
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Code is required</kendo-formerror> -->
            </kendo-formfield>
            <kendo-formfield>
              <kendo-label [for]="graphicsCard" showHints="initial" text="Asset graphicsCard"></kendo-label>
              <kendo-textbox
                formControlName="graphicsCard"
                #graphicsCard
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="ram" text="Asset ram"></kendo-label>
              <kendo-textbox
                formControlName="ram"
                #ram
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="rom" text="Asset rom"></kendo-label>
              <kendo-textbox
                formControlName="rom"
                #rom
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="processor" text="Asset's processor"></kendo-label>
              <kendo-textbox
                formControlName="processor"
                #processor
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="material" text="Asset material"></kendo-label>
              <kendo-textbox
                formControlName="material"
                #material
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
            <div class="col-xs-12 col-sm-6 example-col">
              <kendo-label text="os">
                <br />
                <kendo-combobox formControlName="os" #os [data]="listOs" >
                </kendo-combobox>
              </kendo-label>
            </div>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>
          </div>
          <div >
            
            <kendo-formfield>
              <kendo-label [for]="osVersion" text="Asset osVersion"></kendo-label>
              <kendo-textbox
                formControlName="osVersion"
                #osVersion
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Code is required</kendo-formerror> -->
            </kendo-formfield>
            <kendo-formfield>
              <kendo-label [for]="battery" showHints="initial" text="Asset battery"></kendo-label>
              <kendo-textbox
                formControlName="battery"
                #battery
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="chargerType" text="Asset chargerType"></kendo-label>
              <kendo-textbox
                formControlName="chargerType"
                #chargerType
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="wireless" text="Asset wireless"></kendo-label>
              <kendo-textbox
                formControlName="wireless"
                #wireless
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="weight" text="Asset's weight"></kendo-label>
              <kendo-textbox
                formControlName="weight"
                #weight
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="dimension" text="Asset dimension"></kendo-label>
              <kendo-textbox
                formControlName="dimension"
                #dimension
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

                  <kendo-formfield>
                    <kendo-label [for]="ipaddress" text="Asset ipaddress"></kendo-label>
                    <kendo-textbox
                      formControlName="ipaddress"
                      #ipaddress
                      [clearButton]="true"
                    ></kendo-textbox>
                    <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
                  </kendo-formfield>

                  <kendo-formfield>
                    <kendo-label [for]="connectorType" text="Asset connectorType"></kendo-label>
                    <kendo-textbox
                      formControlName="connectorType"
                      #connectorType
                      [clearButton]="true"
                    ></kendo-textbox>
                    <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
                  </kendo-formfield>

                  <kendo-formfield>
                    <kendo-label [for]="blutoothVersion" text="Asset blutooth Version"></kendo-label>
                    <kendo-textbox
                      formControlName="blutoothVersion"
                      #blutoothVersion
                      [clearButton]="true"
                    ></kendo-textbox>
                    <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
                  </kendo-formfield>
          </div>
          <!-- <div> -->
          <kendo-formfield>
              <kendo-label [for]="chargingTime" text="Asset charging Time"></kendo-label>
              <kendo-textbox
                formControlName="chargingTime"
                #chargingTime
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Code is required</kendo-formerror> -->
            </kendo-formfield>
            <kendo-formfield>
              <kendo-label [for]="capacity" showHints="initial" text="Asset capacity"></kendo-label>
              <kendo-textbox
                formControlName="capacity"
                #capacity
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="size" text="Asset size"></kendo-label>
              <kendo-textbox
                formControlName="size"
                #size
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="watts" text="Asset watts"></kendo-label>
              <kendo-textbox
                formControlName="watts"
                #watts
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="volt" text="Asset's volt"></kendo-label>
              <kendo-textbox
                formControlName="volt"
                #volt
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="length" text="Asset length"></kendo-label>
              <kendo-textbox
                formControlName="length"
                #length
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="imeiNumber" text="imeiNumber"></kendo-label>
              <kendo-textbox
                formControlName="imeiNumber"
                #imeiNumber
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="generation" text="Asset's generation"></kendo-label>
              <kendo-textbox
                formControlName="generation"
                #generation
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label [for]="simNumber" text="sim Number"></kendo-label>
              <kendo-textbox
                formControlName="simNumber"
                #simNumber
                [clearButton]="true"
              ></kendo-textbox>
              <!-- <kendo-formerror>Asset Name is required</kendo-formerror> -->
            </kendo-formfield>
      
          </ng-container>
      </div>
      <div *ngIf="currentStep === 2"></div>

      <span class="k-form-separator"></span>

      <div class="k-form-buttons k-buttons-end">
        <span class="page">Step {{ currentStep + 1 }} of 3</span>
        <div>
          <button
            class="prev"
            kendoButton
            *ngIf="currentStep !== 0"
            (click)="prev()"
          >
            Previous
          </button>
          <button
            kendoButton
            themeColor="primary"
            (click)="next()"
            *ngIf="currentStep !== 2"
          >
            Next
          </button>
          <button
            kendoButton
            themeColor="primary"
            (click)="submit()"
            *ngIf="currentStep === 2"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>